@model ETH.Web.Models.ETHPriceViewModel

<tr>
    <td>
        HitBTC
    </td>
    @if(Model.HitBTC != null)
    {
    <td>@Model.HitBTC.ask $</td>
    <td>@Model.HitBTC.bid $</td>
    <td>@Model.HitBTC.last $</td>
    <td>@Model.HitBTC.open $</td>
    <td>@Model.HitBTC.low $</td>
    <td>@Model.HitBTC.high $</td>
    <td>@Model.HitBTC.volume $</td>
    }
    else
    {
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>

    }

</tr>