@model ETH.Web.Models.ETHPriceViewModel

<tr>
    <td>
        BitStamp
    </td>
    <td>@Model.BitStamp.ask €</td>
    <td>@Model.BitStamp.bid €</td>
    <td>@Model.BitStamp.last €</td>
    <td>@Model.BitStamp.open €</td>
    <td>@Model.BitStamp.low €</td>
    <td>@Model.BitStamp.high €</td>
    <td>@Model.BitStamp.volume €</td>


</tr>