@model ETH.Web.Models.ETHPriceViewModel

<tr>
    <td>
        BTCTurk
    </td>
    @if(Model.BTCTurk != null) { 
    <td>@Model.BTCTurk.ask ₺</td>
    <td>@Model.BTCTurk.bid ₺</td>
    <td>@Model.BTCTurk.last ₺</td>
    <td>@Model.BTCTurk.open ₺</td>
    <td>@Model.BTCTurk.low ₺</td>
    <td>@Model.BTCTurk.high ₺</td>
    <td>@Model.BTCTurk.volume ₺</td>
    }
    else
    {
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>

    }

</tr>